@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<!-- LAB 4, STEP 1.6 -->
@*<h3>Lab 4 @ViewData["Environment"]</h3>*@


@*<h2>VCAP_APPLICATION</h2>
<p>@ViewData["VCAP_APPLICATION"]</p>

<h2>VCAP_SERVICES</h2>
<p>@ViewData["VCAP_SERVICES"]</p>*@
