################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pcf-workshop-dotnet/v15/Server/sqlite3
/.vs/pcf-workshop-dotnet/DesignTimeBuild
/.vs/VSWorkspaceState.json
/labs/pcf-workshop-dotnet-core-lab01/obj
/labs/pcf-workshop-dotnet-core-lab01/bin/Debug/netcoreapp2.0
/.vs/pcf-workshop-dotnet/v15
/labs/pcf-workshop-dotnet-core-lab01/bin/Release/netcoreapp2.0
/pcf-workshop-dotnet-core-lab02-api/obj
/labs/pcf-workshop-dotnet-core-lab02-api/bin
/labs/pcf-workshop-dotnet-core-lab02-api/obj
