################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pcf-workshop-dotnet/v15/Server/sqlite3
